REACT_APP_PORTFOLIO_ITEM_1='{"title":"Project Title","description":"Project description","role":"Agency Role","results":"Results from engagement.","before":"State of the project before.","work":"Work that was done.","approach":"Approach to the work.","imgSrc":"desktop-image.png","viewLink": "https://deployed-project-url","feedback":"Feedback from client","mobileImg":"mobile-image.jpg"}'
REACT_APP_PORTFOLIO_ITEM_2='{"title":"Project Title","description":"Project description","role":"Agency Role","results":"Results from engagement.","before":"State of the project before.","work":"Work that was done.","approach":"Approach to the work.","imgSrc":"desktop-image.png","viewLink": "https://deployed-project-url","feedback":"Feedback from client","mobileImg":"mobile-image.jpg"}'
REACT_APP_PORTFOLIO_ITEM_3='{"title":"Project Title","description":"Project description","role":"Agency Role","results":"Results from engagement.","before":"State of the project before.","work":"Work that was done.","approach":"Approach to the work.","imgSrc":"desktop-image.png","viewLink": "https://deployed-project-url","feedback":"Feedback from client","mobileImg":"mobile-image.jpg"}'
REACT_APP_CALL_LINK=https://calendly.com/username
REACT_APP_REVIEW_1='{"name":"Author Name","company":"Company Name","rating":5,"feedback":"Full Review Text","clientImgName":"client-photo.png"}'
REACT_APP_REVIEW_2='{"name":"Author Name","company":"Company Name","rating":5,"feedback":"Full Review Text","clientImgName":"client-photo.png"}'
REACT_APP_REVIEW_3='{"name":"Author Name","company":"Company Name","rating":5,"feedback":"Full Review Text","clientImgName":"client-photo.png"}'
REACT_APP_AGENCY_WP_URL="https://agency-wordpress-url.com"
REACT_APP_PERSONAL_WP_URL="https://personal-wordpress-url.io"
REACT_APP_LINKEDIN_URL="https://www.linkedin.com/in/username"
REACT_APP_MUSIC_NAME="name-of-song.mp3"
REACT_APP_SMTP_USER="email@example.com"
REACT_APP_SMTP_PASS="smtp-password"
REACT_APP_BACKEND_URL=https://deployed-backend-url
REACT_APP_SUPABASE_URL=supabase_project_url
REACT_APP_SUPABASE_ANON_KEY=supabase_anon_key