@keyframes moveUp {
  from {
    top: 70%;
  } to {
    top: 10%;
  }
}

.move-up {
  animation-name: moveUp;
  animation-duration: 1s;
  top: 10%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  opacity: 1;
}

.fade-in-fast {
  animation-name: fadeIn;
  animation-duration: 0.25s;
  opacity: 1;
}
